spectacular
psycopg2-binary
redis
django-redis
celery
django-celery-beat
django-celery-results
channels
channels-redis
Pillow
qrcode
python-decouple
social-auth-app-django
django-storages
boto3
twilio
requests
gunicorn
django-extensions